@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

:root {
    // --color
    --primary: #000000;
    --text: #fff;
    --text-hover: #f05123;

    // --font-family
    --font-family: 'Barlow', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--text);
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

// Scrollbar Css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(112, 109, 109, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(112, 109, 109, 0.15);
}