.inner-back {
    margin-top: 60px;
}

.icon-back {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text);

    &:hover {
        color: var(--text-hover);
        opacity: 0.8;
        transition: 0.4s linear;
        cursor: pointer;
    }
}