.inner-back {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.back {
    display: flex;
    align-items: center;
}

.text-back {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text);

    &:hover {
        color: var(--text-hover);
        opacity: 0.8;
        transition: 0.4s linear;
        cursor: pointer;
    }
}

.icon-back {
    margin-right: 6px;
    font-size: 2rem;
    font-weight: 700;
}