.wrapper-footer {
    margin-top: 32px;
    background-color: var(--text-hover);
}

.title-footer {
    margin-top: 12px;
    margin-bottom: 12px;
}

p {
    line-height: 16px;
    font-size: 1.4rem;
    margin-bottom: 12px;
}